@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black !important;
}
/*Cabecera principal*/
.cabecera-principal{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #F5D7B5;
}
.cabecera-principal a{
    align-self: center;
    justify-content: flex-start;
    margin-left: 1rem;
    font-size: 0.8rem;
    text-decoration: none;
    color: black;
    font-family: 'Cinzel', serif;
}
.cabecera-principal a:hover{
    color: black;
}
.cabecera-principal a img{
    width: 3rem;
    align-self: center;
}
.cabecera-principal .dropdown{
    display: flex;
    justify-content: flex-end;
    border: none;
    margin-right: 1.5rem;
    border-radius: none;
}
.cabecera-principal .dropdown .btn{
    border: none;
    box-shadow: none;
}
.cabecera-principal .dropdown .dropdown-menu{
    background-color: white;
    border: none;
    line-height: 3rem;
}
.cabecera-principal .dropdown .dropdown-menu .dropdown-item{
    color: #F5D7B5;
}
.cabecera-principal .dropdown .dropdown-menu .dropdown-item:hover{
    color: black !important;
}
.cabecera-principal .dropdown .dropdown-menu .dropdown-item:hover{
    background-color: white !important;
}
.cabecera-principal .dropdown #SobreNosotros{
    display: none;
    color: white;
}
.cabecera-principal .dropdown #Ordenar{
    display: none;
    color: white;
}
.cabecera-principal .dropdown .btn #Productos{
    display: none;
    color: white;
}
.cabecera-principal .dropdown .btn img{
    display: block;
}


.container{
    display:grid;
    place-content: center;
    backgorund-color:black;
}
.card{
    margin-top: 3rem;
    height: 30rem;
    width: 90vw;
    display: grid;
    place-content: center;
    background-color: #F5D7B5 !important; 
    line-height:2rem;
    border-radius:10px;
    place-self:center;
}
.card img{
    height: 205px;
    width: 250px;
    place-self:center;
    border:solid;
}
.card h4{
    font-size:1.5rem;
    margin-top: 3rem;
    text-align: center;
    font-family: 'Cinzel', serif;
    margin: 1rem;
}
.card p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin:1rem;
}
.card a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

/*footer*/
footer{
    margin-top:2rem;
    height: 100vh;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}
footer .ola{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
footer .ola svg {
    grid-column: 1/4;
}
footer .contacto li {
    list-style-type: none;
    margin-left: 1rem;
    line-height: 50px;
}
footer .contacto li a{
    text-decoration: none;
    color: #F5D7B5;
}
footer .contacto .fb{
    display: grid;
    place-content: center;
    width: 3rem;
    height: 3rem;
    background-color: #F5D7B5;
    border-radius: 50%;
    margin-left: 1rem;
}
.fb img{
    width: 2rem;
}
.fb:hover{
    box-shadow: #F5D7B5 0px 5px 15px;
}
footer .contacto .Ig{
    display: grid;
    place-content: center;
    width: 3rem;
    height: 3rem;
    background-color: #F5D7B5;
    border-radius: 50%;
    margin-left: 1rem;
    margin-top: 1rem;
}
.Ig img{
    width: 2rem;
}
.Ig:hover{
    box-shadow: #F5D7B5 0px 5px 15px;
}
footer .imagen{
    display: grid;
    place-content: center;
}
footer .imagen img{
    width: 35rem;
}

/*Tablet*/
@media(min-width:768px){
    .cabecera-principal{
        height: 5rem;
    }
    .cabecera-principal .dropdown #SobreNosotros{
        display: block;
        color: black;
        text-decoration: none;
    }
    .cabecera-principal .dropdown #SobreNosotros:hover{
        color: black;
    }
    .cabecera-principal .dropdown #Ordenar{
        display: block;
        color: black;
        text-decoration: none;
    }
    .cabecera-principal .dropdown #Ordenar:hover{
        color: black;
    }
    .cabecera-principal .dropdown .btn #Productos{
        display: block;
        color: black;
        text-decoration: none;
    }
    .cabecera-principal .dropdown .btn #Productos:hover{
        color: black;
    }
    .cabecera-principal .dropdown .btn img{
        display: none;
    }
    .cabecera-principal .dropdown .dropdown-menu #sn{
        display: none;
    }
    .cabecera-principal .dropdown .dropdown-menu #o{
        display: none;
    }
    .cabecera-principal .dropdown .dropdown-menu #p{
        display: none;
    }
    /*divs principales*/
    .card{
        height: 40rem;
        width: 70vw;
    }
    .card img {
    height: 400px;
    width: 400px;
    place-self: center;
    border: solid;
    }
    /*footer*/
    footer .contacto{
        display: flex;
        justify-content: space-around;
    }
    footer .contacto .fb{
        margin: 0;
    }
    footer .contacto .Ig{
        margin: 0;
    }
    footer .imagen img{
        width: 55rem;
    }
}
@media(min-width:1024px){
    .cabecera-principal #Appetite{
        font-size: 1.5rem;
    }
    .cabecera-principal a{
        font-size: 1rem;
    }
    /*divs principales*/
    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .container .card{
        height: 30rem;
        width: 35vw;
    }
    .container .card img{
        width: 300px;
        height: 250px;
    }
    /*footer*/
    
}
@media(min-width:2560px){
     .cabecera-principal{
        height: 10rem;
    }
    .cabecera-principal a img{
        width: 9rem;
    }
    .cabecera-principal .dropdown{
        font-size: 3rem;
    }
    .cabecera-principal .dropdown button a{
        font-size: 3rem;
    }
    .cabecera-principal .dropdown .dropdown-menu{
        font-size: 3rem;
    }
    .cabecera-principal .dropdown .dropdown-menu .dropdown-item {
        line-height: 10rem;
    }
    /*divs principales*/
    /*footer*/
        footer .contacto{
        font-size: 2.5rem;
    }
    footer .imagen img {
        width: 150rem;
    }
    
}
